<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta
    name='viewport'
    content='width=device-width, initial-scale=1.0'
  >
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <meta name='author' content='William Lindvall'>
  <meta name='description' content='Vancouver-based web developer'>

  <meta name='twitter:card' value='summary'>
  <meta name='twitter:site' content='@werlliam'>
  <meta name='twitter:title' content='{{ title }}'>
  <meta name='twitter:description' content='Vancouver-based web developer'>
  <meta name='twitter:creator' content='@werlliam'>

  <meta property='og:title' content='{{ title }}' />
  <meta property='og:type' content='article' />
  <meta property='og:url' content='https://shwilliam.com`' />
  <meta property='og:image' content='/favicon.ico' />
  <meta property='og:description' content='Vancouver-based web developer' />

  <link rel='icon' type='image/x-icon' href='/favicon.ico'>
  <link
    rel='alternate'
    type='application/rss+xml'
    title="William Lindvall's Blog"
    href='/rss.xml'
  >

  <script>
    {% include js/theme-check.js %}
  </script>

  {% capture css %}
    {% include css/reset.css %}
    {% include css/global.css %}
  {% endcapture %}

  <style>
    {{ css | cssmin }}
  </style>

  <title>{% if title %}{{ title }}{% else %}@shwilliam{% endif %}</title>
</head>
<body class='site-container'>

  <header class='site-header'>
    <a href='/' class='title title--main {% if page.fileSlug == '' %}title--accent{% endif %} site-title'>
      William Lindvall
    </a>

    <nav class='site-nav'>
      <ul class='nav-list'>
        <li class='nav-list__item'>
          <a
            href='/work'
            class='nav-list__link title {% if page.fileSlug == 'work' %}title--accent{% endif %}'
          >
            Libraries & Components
          </a>
        </li>
        <li class='nav-list__item'>
          <a
            href='/sites'
            class='nav-list__link title {% if page.fileSlug == 'sites' %}title--accent{% endif %}'
          >
            Websites
          </a>
        </li>
        <li class='nav-list__item'>
          <a
            href='/blog'
            class='nav-list__link title {% if page.fileSlug == 'blog' %}title--accent{% endif %}'
          >
            Blog
          </a>
        </li>
        <li class='nav-list__item'>
          <a
            href='/about'
            class='nav-list__link title {% if page.fileSlug == 'about' %}title--accent{% endif %}'
          >
            About
          </a>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <button
    id='theme-toggle'
    name='theme-toggle'
    class='theme-toggle'
    type='button'
  >
    <p class='sr-only'>
      Toggle theme
    </p>
  </button>

  <script>
    {% include js/theme-toggle.js %}
  </script>
</body>
</html>
