---
layout: templates/base.liquid
---

{% capture css %}
  {% include css/syntax-highlight.css %}
{% endcapture %}

<style>
  {{ css | cssmin }}
</style>

<article>
  <header class='blog__header padded'>
    <h1 class='title'>
      {{ title }}
    </h1>

    <p>
      {{ date | toIsoStringNoTimezone }}
    </p>
    <p>
      {{ content | readingTime }}
    </p>
  </header>

  <div class='article'>
    {{ content }}
  </div>
</article>
