---
layout: templates/base.liquid
---

{% capture css %}
  {% include css/article.css %}
  {% include css/syntax-highlight.css %}
{% endcapture %}

<style>
  {{ css | cssmin }}
</style>

<article>
  <header class='blog__header padded'>
    <h1 class='blog__title'>
      {{ title }}
    </h1>

    <p class='blog__subtitle'>
      {{ content | readingTime }}
      <span class='blog__subtitle-separator'>•</span>
      {{ date | toIsoStringNoTimezone }}
    </p>
  </header>

  <div class='article'>
    {{ content }}
  </div>
</article>
