---
layout: templates/base.liquid
---

{% capture css %}
  {% include css/syntax-highlight.css %}
{% endcapture %}

<style>
  {{ css | cssmin }}
</style>

<main class='content'>
  <div class='content__header'>
    <a href='/blog' class='back'>Back</a>
  </div>

  <div class='content__main'>
    <h1 class='title title--small'>
      {{ title }}
    </h1>

    <div class="subtitle__container italic">
      <p class="subtitle subtitle--secondary subtitle--small subtitle__container-item">
        {{ date | toIsoStringNoTimezone }}
      </p>
      <p class="subtitle subtitle--secondary subtitle--small subtitle__container-item">
        {{ content | readingTime }}
      </p>
    </div>

    <div class='section md'>

      {{ content }}

    </div>
  </div>
</main>
