---
layout: templates/base.liquid
---

{% capture css %}
  {% include syntax-highlight.css %}
{% endcapture %}

<style>
  {{ css | cssmin }}
</style>

<main class='browser-window'>
  <div class='browser-window-header'>
    <p class='browser-window-title'>
      Blog: {{ titleShort }}
    </p>
    <a href='/blog' class='browser-window-close'>✕</a>
  </div>

  <div class='browser-window-content scrollable md'>
    <div class="subtitle__container">
      <p class="subtitle subtitle--secondary">
        {{ date | toIsoStringNoTimezone }}
      </p>
      <p class="subtitle subtitle--secondary">
        {{ content | readingTime }}
      </p>
    </div>

    <h1 class='title'>
      {{ title }}
    </h1>

    {{ content }}

  </div>
</main>
