---
layout: templates/base.liquid
title: Blog
priority: 1.0
changefreq: 'monthly'
---

{% capture css %}
  {% include css/blog.css %}
{% endcapture %}

<style>
  {{ css | cssmin }}
</style>

{% include templates/body-start.liquid %}

<h1 class='sr-only'>Recent Posts</h1>

<ul class='blog-list'>
  {% assign sortedPosts = collections.blog | reverse %}
  {% for post in sortedPosts %}
    <li class='blog-list__item'>
      <a class='blog-list__link' href='{{post.url}}'>
        <h2 class='title blog-list__title'>
          {{post.data.title}}
        </h2>
        <time class='blog-list__date' datetime='{{ post.data.date | toIsoString }}'>
          {{ post.data.date | toDateString }}
        </time>
        <p class='blog-list__description'>{{post.data.description}}</p>
      </a>
    </li>
  {% endfor %}
</ul>

<div class='site-content'>
  <p class='more'>
    Subscribe to the 
    <a href='/rss.xml' target='_blank' rel='noopener noreferrer'>
      RSS feed
    </a>
  </p>
</div>
