---
layout: templates/base.html
---

{% comment %}
<section>
  <p>Hey, I'm William a Vancouver-based web developer.</p>
  <p>I specialize in writing modern JavaScript for the front-end that is accessible, performant and reusable.</p>

</section>
{% endcomment %}

<section>
  <h2 class="list__title">Recent Contributions</h2>

  <ul class="list">
    {% for contribution in contributions %}
      <li class="list__item">
        <a class="link link--no-underline" href="{{ contribution.url }}">
          <h3 class="link list__item-title">
            {{ contribution.repository.owner.login }}/{{ contribution.repository.name }}
            (#{{ contribution.number }})
          </h3>
          <span class="hidden hidden--mobile-only list__item-title-suffix">:</span>
          <span>
            {{ contribution.title }}
          </span>
        </a>
      </li>
    {% endfor %}
  </ul>

<section>
  <h2 class="list__title">Blog</h2>

  <ul class="list">
    {% assign sortedPosts = collections.blog | reverse %}
    {% for post in sortedPosts %}
      <li class="list__item">
        <a class="link link--no-underline" href="{{post.url}}">
          <h3 class="link list__item-title hover-outline">
            {{post.data.title}}
          </h3>
          <p>
            {{post.data.description}}
          </p>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>

<section>
  <h2 class="list__title">Projects</h2>

  <ul class="list">
    {% assign sortedPosts = collections.projects | reverse %}
    {% for post in sortedPosts %}
      <li
        class="list__item list__item--{{post.data.type}}"
      >
        <a class="link link--no-underline" href="{{post.data.source}}">
          <h3 class="list__item-title link hover-outline">
            {{post.data.title}}
          </h3>
          <p>
            {{post.data.description}}
          </p>
          <a class="link link--button" href="{{post.data.source}}">
            source
          </a>
          {% if post.data.link %}
            <a class="link link--button" href="{{post.data.link}}">
              demo
            </a>
          {% endif %}
        </a>
      </li>
    {% endfor %}
  </ul>
</section>

<section>
  <h2 class="list__title">Usually thinking about</h2>

  <ul class="list">
    <li class="list__item list__item--dot">
      <h3 class="list__item-title">
        JavaScript (mostly React)
      </h3>
    </li>
    <li class="list__item list__item--dot">
      <h3 class="list__item-title">
        Improving my workflow (Vim / tmux)
      </h3>
    </li>
    <li class="list__item list__item--dot">
      <h3 class="list__item-title">
        Mechanical keyboards (60% with MX browns)
      </h3>
    </li>
  </ul>
</section>

<section>
  <h2 class="list__title">Links</h2>

  <ul class="list">
    <li class="list__item">
      <a class="link" href="https://github.com/shwilliam`">
        <h3 class="list__item-title link">
          GitHub
        </h3>
      </a>
    </li>
    <li class="list__item">
      <a class="link" href="/files/william_lindvall-resume.pdf">
        <h3 class="list__item-title link">
          Resume
        </h3>
      </a>
    </li>
    <li class="list__item">
      <a class="link" href="https://www.linkedin.com/in/william-lindvall">
        <h3 class="list__item-title link">
          StinkedIn
        </h3>
      </a>
    </li>
  </ul>
</section>

