---
layout: templates/base.html
---

<h2 class="sr-only">Recent</h2>

<ul class="project-list">
  {% assign sortedPosts = collections.posts | reverse %}
  {% for post in sortedPosts %}
    <li
      class="project-list__item project-list__item--{{post.data.type}}"
    >

      <a
        href="
          {% if post.data.type == 'link' %}
            {{post.data.source}}
          {% else %}
            {{post.url}}
          {% endif %}
        "
        class="project-list__item-link"
      >
        <div class="project-list__item-icon"></div>

        <div>
          <h3 class="project-list__item-title">
            {{post.data.title}}
          </h3>

          <p>
            {{post.data.description}}
          </p>
        </div>
      </a>

    </li>
  {% endfor %}
</ul>
