---
layout: templates/base.liquid
title: Components & Libraries
priority: 1.0
changefreq: 'monthly'
---

{% capture css %}
  {% include css/work.css %}
{% endcapture %}

<style>
  {{ css | cssmin }}
</style>

{% include templates/body-start.liquid %}

<div class='contribution__container'>
  <section class='contribution__profile-overview site-content site-content--l'>
    <div class='contribution__profile'>
      <div class='contribution__profile-header'>
        <div class='contribution__avatar-container'>
          <img src='/images/me.jpg' alt=''>
        </div>

        <div class='contribution__profile-title'>
          <a
            aria-label='GitHub portfolio'
            class='title title--accent title--main'
            href='https://github.com/shwilliam/'
            target='_blank'
            rel='noopener noreferrer'
          >
            @shwilliam
          </a>

          <p class='contribution__status'>
            💫 a11y dreams
          </p>

          <ul class='contribution__orgs-list contribution__orgs-list--desktop'>
            <li>
              <a class='contribution__org' href='https://github.com/vue-a11y/' target='_blank' rel='noopener noreferrer'>
                <div class='contribution__org-img-container'>
                  <img src='/images/vue-a11y.png' alt=''>
                </div>
                <p class='contribution__org-name'>
                  Vue A11y
                </p>
              </a>
            </li>
          </ul>
        </div>

        <ul class='contribution__stats-list'>
          <li class='contribution__stats-item'>
            <a class='contribution__stats-link' href='https://github.com/shwilliam?tab=repositories&type=source' target='_blank' rel='noopener noreferrer'>
              <p class='contribution__stat-title'>
                Repos
              </p>
              <p class='contribution__stat'>
                <span class='contribution__stat-num'>{{github.repos}}</span>
              </p>
            </a>
          </li>

          <li class='contribution__stats-item'>
            <a class='contribution__stats-link' href='https://www.npmjs.com/~shwilliam' target='_blank' rel='noopener noreferrer'>
              <p class='contribution__stat-title'>
                Downloads <span class='contribution__stat-info'>(npm)</span>
              </p>
              <p class='contribution__stat'>
                <span class='contribution__stat-num'>{{npm}}</span> yearly
              </p>
            </a>
          </li>
        </ul>
      </div>

      <div class='contribution__profile-content contribution__profile-content--mobile'>
        <p class='contribution__orgs-title'>Organizations</p>

        <ul class='contribution__orgs-list'>
          <li>
            <a class='contribution__org' href='https://github.com/vue-a11y/' target='_blank' rel='noopener noreferrer'>
              <div class='contribution__org-img-container'>
                <img src='/images/vue-a11y.png' alt=''>
              </div>
              <p class='contribution__org-name'>
                Vue A11y
              </p>
            </a>
          </li>
        </ul>

        <p class='contribution__list-title'>Recent Contributions</p>

        <ul class='contribution__list'>
          {% assign sortedContributions = collections.contributions | reverse %}
          {% for contribution in sortedContributions %}
            <li class='padded--s'>
              <a class='contribution__link' href='{{ contribution.data.url }}' target='_blank' rel='noopener noreferrer'>
                <span class='contribution__info'>
                  {{ contribution.data.owner }}/{{ contribution.data.repo }}
                  (#{{ contribution.data.number }})
                </span><span class='hidden hidden--mobile-s'>:</span>
                <span class='contribution__title'>
                  {{ contribution.data.title }}
                </span>
              </a>
            </li>
          {% endfor %}
        </ul>

        <p class='contribution__list-footer'>
          More on 
          <a href='https://github.com/shwilliam' target='_blank' rel='noopener noreferrer'>
            GitHub
          </a>
        </p>
      </div>
    </div>
  </section>

  <section class='site-content site-content--l'>
    <h1 class='title padded hidden hidden--desktop'>Libraries & Components</h1>
    <ul class='work__grid'>
      {% assign sortedPosts = collections.libraries | reverse %}
      {% for post in sortedPosts %}
        <li class='work__grid-item'>
          <div class='work__header'>
            <h2 class='work__title'>
              <a class='work__title-link' href='{{post.data.source}}' target='_blank' rel='noopener noreferrer'>
                <span class='work__title-icon' aria-hidden='true'>
                  {% include icons/repo.svg %}
                </span>
                {{post.data.title}}
              </a>
            </h2>
          </div>

          <p class='work__description'>
            {{post.data.description}}
          </p>

          <div class='work__actions'>
            <a class='button work__action' href='{{post.data.source}}' target='_blank' rel='noopener noreferrer'>
              <span aria-hidden='true'>
                {% include icons/github.svg %}
              </span>
              source
            </a>
            {% if post.data.link %}
              <a class='button work__action' href='{{post.data.link}}' target='_blank' rel='noopener noreferrer'>
                <span aria-hidden='true'>
                  {% include icons/compass.svg %}
                </span>
                demo
              </a>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ul>

    <p class='more'>
      See more on 
      <a href='https://github.com/shwilliam' target='_blank' rel='noopener noreferrer'>
        GitHub
      </a>
    </p>
  </section>
</div>
