---
layout: templates/scrollable.liquid
title: work
priority: 1.0
changefreq: 'monthly'
---

<section class='section'>
  <h2 class='title'>Recent Contributions</h2>
  <ul class='list'>
    {% for contribution in contributions %}
      <li class='list__item--l'>
        <a class='contribution__link' href='{{ contribution.url }}'>
          <h3 class='contribution__info inline'>
            {{ contribution.repository.owner.login }}/{{ contribution.repository.name }}
            (#{{ contribution.number }})
          </h3>
          <span class='hidden hidden--mobile'>:</span>
          <span class='contribution__title'>
            {{ contribution.title }}
          </span>
        </a>
      </li>
    {% endfor %}
  </ul>

  <p>
    More on 
    <a href='https://github.com/shwilliam'>
      GitHub
    </a>
  </p>
</section>

<section class='section'>
  <h2 class='title'>Recent Work</h2>
  <ul class='list'>
    {% assign sortedPosts = collections.projects | reverse %}
    {% for post in sortedPosts %}
      <li>
        <span class='work__header'>
          <h3 class='inline'>
            {{post.data.title}}
          </h3>
          <p class='work__subtitle'>
            {{post.data.tech | spaceToSlash}}
          </p>
        </span>

        <p class='work__description'>
          {{post.data.description}}
        </p>

        <div class='work__actions'>
          <a class='button button--fill work__action' href='{{post.data.source}}'>source</a>
          {% if post.data.link %}
            <a class='button work__action' href='{{post.data.link}}'>
              demo
            </a>
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>

  <p>
    More on 
    <a href='https://github.com/shwilliam'>
      GitHub
    </a>
  </p>
</section>
