---
layout: templates/base.liquid
title: Work
priority: 1.0
changefreq: 'monthly'
---

{% capture css %}
  {% include css/work.css %}
{% endcapture %}

<style>
  {{ css | cssmin }}
</style>

<h1 class='sr-only'>Components & Libraries</h1>

<section class='site-content site-content--l'>
  <h2 class='title underline padded'>Recent Contributions</h2>
  <ul>
    {% for contribution in contributions %}
      <li class='padded--s'>
        <a class='contribution__link' href='{{ contribution.url }}'>
          <h2 class='contribution__info'>
            {{ contribution.repository.owner.login }}/{{ contribution.repository.name }}
            (#{{ contribution.number }})
          </h2><span class='hidden hidden--mobile'>:</span>
          <span class='contribution__title'>
            {{ contribution.title }}
          </span>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>

<section>
  <h2 class='title underline padded padded--l'>Components & Libraries</h2>
  <ul class='work__grid site-content site-content--l'>
    {% assign sortedPosts = collections.libraries | reverse %}
    {% for post in sortedPosts %}
      <li>
        <span class='work__header'>
          <a class='work__title-link' href='{{post.data.source}}'>
            <h2 class='work__title'>
              {{post.data.title}}
            </h2>
          </a>
        </span>

        <p class='work__description'>
          {{post.data.description}}
        </p>

        <div class='work__actions'>
          <a class='button button--fill work__action' href='{{post.data.source}}'>source</a>
          {% if post.data.link %}
            <a class='button work__action' href='{{post.data.link}}'>
              demo
            </a>
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>

  <p class='more'>
    See more on 
    <a href='https://github.com/shwilliam'>
      GitHub
    </a>
  </p>
</section>
