---
layout: templates/base.liquid
title: Work
priority: 1.0
changefreq: 'monthly'
---

{% capture css %}
  {% include css/work.css %}
{% endcapture %}

<style>
  {{ css | cssmin }}
</style>

<h1 class='sr-only'>Components & Libraries</h1>

{% comment %} <section class='site-content site-content--l'> {% endcomment %}
{% comment %}   <h2 class='title underline padded'>Recent Contributions</h2> {% endcomment %}
{% comment %}   <ul> {% endcomment %}
{% comment %}     {% for contribution in contributions %} {% endcomment %}
{% comment %}       <li class='padded--s'> {% endcomment %}
{% comment %}         <a class='contribution__link' href='{{ contribution.url }}'> {% endcomment %}
{% comment %}           <h2 class='contribution__info'> {% endcomment %}
{% comment %}             {{ contribution.repository.owner.login }}/{{ contribution.repository.name }} {% endcomment %}
{% comment %}             (#{{ contribution.number }}) {% endcomment %}
{% comment %}           </h2><span class='hidden hidden--mobile'>:</span> {% endcomment %}
{% comment %}           <span class='contribution__title'> {% endcomment %}
{% comment %}             {{ contribution.title }} {% endcomment %}
{% comment %}           </span> {% endcomment %}
{% comment %}         </a> {% endcomment %}
{% comment %}       </li> {% endcomment %}
{% comment %}     {% endfor %} {% endcomment %}
{% comment %}   </ul> {% endcomment %}
{% comment %} </section> {% endcomment %}

<section class='site-content site-content--l'>
  <h2 class='title underline padded'>Components & Libraries</h2>
  <ul class='work__grid'>
    {% assign sortedPosts = collections.libraries | reverse %}
    {% for post in sortedPosts %}
      <li>
        <span class='work__header'>
          <a class='work__title-link' href='{{post.data.source}}'>
            <h2 class='work__title'>
              {{post.data.title}}
            </h2>
          </a>
        </span>

        <p class='work__description'>
          {{post.data.description}}
        </p>

        <div class='work__actions'>
          <a class='button work__action' href='{{post.data.source}}'>
            <span aria-hidden='true'>
              {% include icons/github.svg %}
            </span>
            source
          </a>
          {% if post.data.link %}
            <a class='button work__action' href='{{post.data.link}}'>
              <span aria-hidden='true'>
                {% include icons/compass.svg %}
              </span>
              demo
            </a>
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>

  <p class='more'>
    See more on 
    <a href='https://github.com/shwilliam'>
      GitHub
    </a>
  </p>
</section>
